body {
  background-color: #fbf7f5;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color:	#00b8ff;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(odd){background-color: #f9f1f1;}

tr:nth-child(even){background-color: #ebdada;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:	#313131;
  color: white;
}
